.tongue-out-face {
	max-width: 150px;
}
.under-construction-message {
	background-color:white;
	padding:300px 0 300px;
	h2 {
		color:red;
		font-weight:bold;
	}
	p {
		font-weight:bold;

		a {
			font-size:22px;
			text-decoration:underline;
		}
	}
}