header {
	margin-bottom: 70px;
}
.name {
	margin: 0;
	padding: 40px 0;
	@include tablet {
		padding-bottom: 21px;
	}
	@include desktop {
		float: left;
	}
}
.menu_icon {
	padding: 10px;
	font-size: $md-font;
	@include tablet {
		display: none;
	}
}
.main-nav {
	display: none;
	@include tablet {
		display: block;
	}
	@include desktop {
		float: right;
		padding-top: 33px;
	}
}
.main-nav li {
	width: 100%;
	background-color: $content-color;
	margin-bottom: .5em;
	text-transform: uppercase;
	font-weight: bold;
	@include tablet {
		display: inline-block;
		width: initial;
		background-color: $primary-bg-color;
	}
}
.main-nav li a {
	display: block;
	padding: 1.2em;
	height: 100%;
	color: $links-color;
}
.main-nav li a:hover {
		color: $hover-color;
}
.profile-pic {
	width: 70%;
	margin: 50px 0 10px;
	@include tablet {
		float: right;
		width: 30%;	
	}
	@include desktop {
		max-width: 300px;
	}
}
.about-statement {
	@include tablet {
		float: left;
		width: 59%;
		text-align: left;
		margin-top: 50px;
	}
}
